/* Elimina margen y padding del body y html para evitar scroll horizontal */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Pacifico', cursive;
}

.home-container {
  background-color: #83BF9C ;
  min-height: 100vh;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header-section {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.home-image {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.lead {
  font-size: 80px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.carousel .carousel-item img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

/* Botones Log In y Sign In */
.login-btn, .signin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  max-width: 220px;
  min-height: 80px;
  overflow: hidden;
  border: 3px solid transparent;
  background-color: #a2cbb3 !important;
  color: white;
  font-size: 18px;
  text-align: center;
}

.login-btn:hover, .signin-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  background-color: #6FAE8C !important;
}

.login-btn img, .signin-btn img {
  width: 80px; 
  height: 80px;
  object-fit: contain;
  margin-right: 10px;
}

.login-btn span, .signin-btn span {
  font-size: 18px;
  font-weight: bold;
}

.categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #a2cbb3; 
}


.category-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  flex-grow: 1;
  max-width: 200px;
  border-radius: 10px;
}

.category-button:hover {
  transform: scale(1.15);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
  border-radius: 50%;
}

.category-button:hover .icon {
  transform: rotate(360deg);
}

.category-button p {
  font-weight: bold;
  font-size: 16px;
  color: white;
  margin-top: 8px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
